.*/
*/
.sqlite_history
.bash_history
.sh_history
.AB64CF89
.bash_tokens
.CF89AA64
.CFUserTextEncoding
.gdb_history
.lesshst
.netrc
.qsdkrc
.rnd
.viminfo
.Xauthority
.pgadmin_histoqueries
.pgpass
.pivotal_tracker
pgadmin.log
.psql_history
hardcopy.0
minicom.log
